/*Rose Mormino
Tyrrell County Responsive Website Redesign

Tyrrell County Logo Font
font-family: broadsheet,serif;
font-weight: 400;
font-style: normal/italic;

Tyrrell Header Font
font-family: new-spirit,serif;
font-weight: 400/700;
font-style: normal;

Tyrrell Body Font
font-family: sofia-pro-soft,sans-serif;
font-weight: 400/700;
font-style: normal;
*/

.tyrrell-county-header {
    font-family: "new-spirit", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
}

.tyrrell-county-header.overlay {
    background-color: rgba(0, 0, 0, 0.60);
}

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: "sofia-pro-soft",sans-serif;
    font-weight: 400;
}

.btn {
    font-size: 1rem;
}

.tyrrell-county-seal {
    max-height: 130px;
}

.navbar-toggler {
    font-size: 2.5rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 5px;
}

/*HERO IMG STYLES*/
.homepage-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-index.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.upcoming-events-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-upcoming-events.jpg);
    background-size: cover;
    background-position: 30% 50%;
    background-repeat: no-repeat;
}

.boards-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-boards.jpg);
    background-size: cover;
    background-position: 80% 50%;
    background-repeat: no-repeat;
}

.committees-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-committees.jpg);
    background-size: cover;
    background-position: 40% 50%;
    background-repeat: no-repeat;
}

.careers-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-job-listings.jpg);
    background-size: cover;
    background-position: 48% 50%;
    background-repeat: no-repeat;
}

.current-employees-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-current-employees.jpg);
    background-size: cover;
    background-position: 85% 50%;
    background-repeat: no-repeat;
}

.departments-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-departments.jpg);
    background-size: cover;
    background-position: 15% 50%;
    background-repeat: no-repeat;
}

.property-info-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-property-information.jpg);
    background-size: cover;
    background-position: 90% 50%;
    background-repeat: no-repeat;
}

.public-safety-hero-container {
    width: 100%;
    height: 40vh;
    background-image: url(../img/hero-public-safety.jpg);
    background-size: cover;
    background-position: 90% 25%;
    background-repeat: no-repeat;
}





